<div>
<h3>Blog APP</h3>
<%=link_to "Link to Blog Application", articles_path %>
</div>

<div>
<h3>Room Appointment Booking APP</h3>
<%=link_to "Link to Room Appointment Booking Application", rooms_path %>
</div>

<div>
<h3>Notebook APP</h3>
<%=link_to "Link to Notebook Application", notes_path %>
</div>
